# Dependências
node_modules
.pnp
.pnp.js

# Build de produção
dist
dist-ssr
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Cache de ferramentas
.vite
.eslintcache

# Editores
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operacional
.DS_Store
Thumbs.db
